﻿@model IEnumerable<EmAspCore.Entity.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.departmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departmentNm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.departmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departmentNm)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.departmentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.departmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.departmentId })
            </td>
        </tr>
}
    </tbody>
</table>
